@model CoreApp.Entities.Products
<!-- Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QuantityPerUnit" class="control-label"></label>
                        <input asp-for="QuantityPerUnit" class="form-control" />
                        <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="Category" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Store" class="control-label"></label>
                        <select asp-for="Store" class="form-control" asp-items="ViewBag.StoreId"></select>
                        <span asp-validation-for="Store" class="text-danger"></span>

                    </div>
                    @*<div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Available" id="Available" />
                        <label class="form-check-label" for="Available">Available?</label>
                        <span asp-validation-for="Available" class="text-danger"></span>
                    </div>*@
                    @*<div class="form-group">
            <label asp-for="Available" class="control-label"></label>
            <input asp-for="Available" class="form-control" />
            <span asp-validation-for="Available" class="text-danger"></span>
        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>